@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --font-body: 'Rubik', sans-serif;
  --style-radius-s: 8px;
  --style-radius-m: 12px;
  --style-radius-l: 16px;
  --style-radius-full: 999px;
}

// .btn {
//   border-radius: var(--style-radius-s);
// }

.collapsible {
  border-radius: var(--style-radius-s);
}

.collapsible__content {
  border-bottom-left-radius: var(--style-radius-s);
  border-bottom-right-radius: var(--style-radius-s);
}

.collapsible__toggle-wrap {
  border-radius: var(--style-radius-s);
}

.collapsible__toggle-wrap:has(.collapsible__toggle--open) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.fixed-toolbar {
  border-radius: var(--style-radius-s);
  overflow: hidden;
}

.rich-text-lexical .editor-container {
  font-family: var(--font-body);
  font-size: 1.5rem;
}

.rich-text-lexical .editor-container h1 {
  margin-block: 0.5rem 1.5rem;
}

.monaco-editor {
  border-radius: var(--style-radius-s);
  overflow: hidden;
}
.monaco-editor .overflow-guard {
  border-radius: var(--style-radius-s);
  overflow: hidden;
}

.nav__link {
  padding-block: 8px;
  padding-inline: 16px;
  border-radius: 999px;
  &:hover {
    background-color: var(--theme-elevation-50);
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
  }
}
.nav__link:has(.nav__link-indicator) {
  background-color: var(--theme-elevation-100);
}

.table {
  display: block;
}

.nav-group__label {
  text-transform: uppercase;
  font-family: var(--font-body);
  font-weight: 500;
  // font-size: 0.75rem;
  // color: var(--theme-elevation-700);
}

.hamburger {
  border-radius: var(--style-radius-full);
}

[data-theme='light'] {
  .login__brand {
    filter: invert(1);
    height: 32px;
    width: auto;
  }
}
.login__brand {
  height: 32px;
  width: auto;
}
