@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --font-body: 'Rubik', sans-serif;
  --style-radius-s: 8px;
  --style-radius-m: 12px;
  --style-radius-l: 16px;
}

// .btn {
//   border-radius: var(--style-radius-s);
// }

.collapsible {
  border-radius: var(--style-radius-s);
  // overflow: hidden;
}

.collapsible__content {
  border-bottom-left-radius: var(--style-radius-s);
  border-bottom-right-radius: var(--style-radius-s);
}
.collapsible__toggle {
  border-top-left-radius: var(--style-radius-s);
  border-top-right-radius: var(--style-radius-s);
}
.collapsible__toggle--collapsed {
  border-bottom-left-radius: var(--style-radius-s);
  border-bottom-right-radius: var(--style-radius-s);
}

.fixed-toolbar {
  border-radius: var(--style-radius-s);
  overflow: hidden;
}

.rich-text-lexical .editor-container {
  font-family: var(--font-body);
  font-size: 1.5rem;
}

.rich-text-lexical .editor-container h1 {
  margin-block: 0.5rem 1.5rem;
}

.nav__link {
  padding-block: 8px;
  padding-inline: 16px;
  border-radius: 12px;
  &:hover {
    background-color: var(--theme-elevation-100);
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
  }
}
.nav__link:has(.nav__link-indicator) {
  background-color: var(--theme-elevation-100);
}
