@import '@payloadcms/ui/scss';

.app-preview-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  &[data-rtl='true'] {
    align-items: end;
  }
  &__icon {
    width: 96px;
    height: 96px;
    aspect-ratio: 1/1;
    margin-bottom: 16px;
  }
  &__name {
    font-size: 24px;
    font-weight: 500;
  }
}
